#conteneur-footer{
  display : flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

h2.footer{
  font-style: ;
  font-size: 30px;
  text-align: left;
}

.plan{
  display : flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#conteneur-acces {
  display : flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#conteneur-text {
  display : flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}
