h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

h3.text-cinema {
    text-align: left;
}

h3.text-affiche {
    text-align: center;
}

p.sous-titre {
    font-size: 35px;
    text-align: center;
}

.paragraphe {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cinema-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    margin: auto;
    width: 60%;
    margin-bottom: 0.4em;
    display: inline-block;
}

.affiche {
    max-width: 350px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.textimg {
    margin: px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.button {}

#carousel {

    margin-left: 20% ;
    margin-right: 20%;
}

#carousel .image {

    width: 100%;
}

.masque {


}

.affiches {
    
    max-width: 350px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.affiches img{
    width:40%

}
::-webkit-scrollbar {
    display: none;
}