/*image*/

h2{
    margin-top: 180px;
    margin-bottom: 40px;
}
.image {
    margin: auto;
    width: 60%;
    margin-bottom: 0.4em;
    display: inline-block;
    max-width: 60vh ;
    max-height: auto;
    display: flex ;

}

#titre{
    margin-top: 100px;
}
#container-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container-image2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#logo1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.affiche {
    max-width: 350px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.textimg {
    margin: px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
