
/*image*/

.ailleurs {
    margin: auto;
    width: 60%;
    margin-bottom: 0.4em;
    display: inline-block;
}


#container-image
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container-image2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image {
    max-width: 350px ;
    max-height: 450px;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;

}

.textimg {
    margin: px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    