footer {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container-endpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.plan {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.conteneur-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}