footer {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    margin: 0;
    padding: 0 100px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}

.footer-element {
    flex: 1;
}

.footer-element-title {}

.legal-mentions {
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: center;
}