/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Rubik:ital,wght@0,400;0,500;1,700&display=swap');

/* font-family: 'Roboto',
sans-serif;
font-family: 'Rubik',
sans-serif; */


/* general*/

* {
    padding: 0;
    margin: 0
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 5em;
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 70px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
}

h3.text-cinema {
    text-align: left;
}

h3.text-affiche {
    text-align: center;
}

p.sous-titre {
    font-size: 35px;
    text-align: center;
}

.paragraphe {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cinema-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image {
    margin: auto;
    width: 60%;
    margin-bottom: 0.4em;
    display: inline-block;
    border-radius: 5px;
}

.affiche {
    max-width: 350px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.textimg {
    margin: px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#carousel {

    margin-left: 20% ;
    margin-right: 20%;
}

#carousel .image {

    width: 100%;
}

.masque {}

.affiches {
    
    max-width: 350px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.affiches img{
    width:40%
}
::-webkit-scrollbar {
    display: none;
}
.button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #9652b3;
    transition: 0.5s;
}

.button a {
    font-style: 'Roboto', Sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
    background-color: white;
}

.button:hover a {
    color: #9652b3;
    transition: 0.5s;
}

.lightWrapper {
    background-color: white;
    color: black;
    padding: 50px;
}

.darkWrapper {
    background-color: black;
    color: white;
    padding: 50px;
}