.theme-slider {
    display: flex;
    margin: 100px 0;
}

.theme-slider-box {
    width: 25%;
    height: 70vh;
    transition: .35s;
    position: relative;
    align-items: center;
}

.theme-slider-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.theme-slider-box:first-child img {
    border-radius: 5px 0 0 5px;
}

.theme-slider-box:last-child img {
    border-radius: 0 5px 5px 0;
}

.theme-slider-box .slider-box-description {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    opacity: 0;
    transition: .35s;
    white-space: nowrap;
}


/* Etat hover */

.theme-slider-box:hover {
    width: 70%;
}

.theme-slider-box:hover .slider-box-description {
    opacity: 1;
}